{% if page.backlinks.size > 0 %}
    <div id="backlinks" style="font-size: 0.9em">
        <div>
            <code>// Backlinks are a little broken right now -- will get to a fix eventually.
                <br>// Sorry if some of the links don't make sense.</code>
        </div>
        <h3 class="newthought">Connected plant matter</h3>
        <div>
            {% for backlink in page.backlinks %}
            <a class="internal-link list-link" href="{{ site.baseurl }}{{ backlink.url }}">
                <div class="list-item">
                    <h4 class="backlink-title">
                        {{ backlink.title }}
                    </h4>
                    {% include growth-stage.html growth=backlink.growth %}
                    <span class="tag sans">{{ backlink.category }}</span>
                    <p style="font-size: 1em">{{ backlink.excerpt | strip_html | remove: "[" | remove: "]" | truncatewords: 25 }}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
{% endif %}