{% if page.backlinks.size > 0 %}
    <div id="backlinks" style="font-size: 0.9em">
        <h3 class="newthought">Connected plant matter</h3>
        <div>
            {% for backlink in page.backlinks %}
            <a class="internal-link list-link" href="{{ site.baseurl }}{{ note.url }}{%- if site.use_html_extension -%}.html{%- endif -%}">
                <div class="list-item">
                    <h4 class="backlink-title">
                        {{ backlink.title }}
                    </h4>
                    {% include growth-stage.html growth=backlink.growth %}
                    <span class="tag sans">{{ backlink.category }}</span>
                    <p style="font-size: 1em">{{ backlink.excerpt | strip_html | remove: "[" | remove: "]" | truncatewords: 25 }}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
{% endif %}