<div>
    <span class="footer-links">
        <ul>
            {% unless page.url == "/" %}
                <li><a class="internal-link" href="#">back to top</a></li>
            {% endunless %}
            <li><a class="internal-link hover-underline-animation" href="/about">About</a></li>
            <li><a class="internal-link hover-underline-animation" href="/meta">Meta</a></li>
            <li><a class="internal-link hover-underline-animation" href="/mycelia">Mycelia</a></li>
        </ul>
    </span>
</div>
