{% case include.listCategory %}
    {% when 'research notes' %}
        {% assign listOfNotes = site.notes | where: "category", "research notes" | sort: "title" %}
    {% when 'book notes' %}
        {% assign listOfNotes = site.notes | where: "category", "book notes" | sort: "title" %}
    {% when 'posts' %}
        {% assign streamOfConsciousness = site.notes | where: "category", "stream of consciousness" | sort %}
        {% assign processDoc = site.notes | where: "category", "process doc" | sort %}
        {% assign groupedPosts = streamOfConsciousness | concat: processDoc %}
        {% assign listOfNotes = groupedPosts %}
    {% else %} 
        {% assign listOfNotes = site.notes | where: "category", include.listCategory | sort: 'growth' %}
{% endcase %}

<ul class="list-x list-{{ include.listType }}">
    {% for note in listOfNotes %}
        <li>
            <a class="internal-link" href="{{ note.url }}">
                {% if include.listType == 'img' %}
                    {% for image in site.static_files %}
                        {% if image.path contains note.url %}
                            <img id="{{ note.class }}" src="{{ site.baseurl }}{{ image.path }}" />
                            {% break %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <span>{{ note.title }}</span>
            </a>
            {% if include.listGrowth == true %}
                {% include growth-stage.html growth=note.growth %}
            {% endif %}
            {% if include.listType == 'img' %}
                <span class="color-primary grow arrow">&#8594;</span>
            {% endif %}
            {% if include.includeCategory == true %}
                <span class="tag sans">{{ note.category }}</span>
            {% endif %}
            {% if include. == true %}
                {% if note.tag != null %}
                    {% for tag in note.tag %}
                        <span class="tag sans">{{ tag }}</span>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </li>
    {% endfor %}
</ul>


