<!-- define listOfNotes array  -->
<ul class="list-x list-{{ include.listType }}">
    {% for note in listOfNotes %}
        <li>
            <a class="internal-link" href="{{ note.url }}">
                {% if include.listType == 'img' %}
                    {% for image in site.static_files %}
                        {% if image.path contains note.url %}
                            <img id="{{ note.class }}" src="{{ site.baseurl }}{{ image.path }}" />
                            {% break %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <span>{{ note.title }}</span>
            </a>
            <div class="note-metadata">
                {% if include.listGrowth == true %}
                    {% include growth-stage.html growth=note.growth %}
                {% endif %}
                {% if include.listType == 'img' %}
                    <span class="color-primary grow arrow">&#8594;</span>
                {% endif %}
                {% if include.includeCategory == true %}
                    <span class="tag sans">{{ note.category }}</span>
                {% endif %}
                {% if include.listTag == true %}
                    <span class="tag sans">{{ note.tag.first }}</span>
                {% endif %}
                {% if include.listTime == true %}
                    <time datetime="{{ note.last_modified_at | date_to_xmlschema }}">
                        <span><span class="iconify" data-icon="cil:pencil" style="color: #5c5c5c;" data-width="14"></span> {{ note.last_modified_at | date: "%-m/%-d" }}</span>
                    </time>
                {% endif %}
            </div>
        </li>
    {% endfor %}
</ul>

