{% for book in site.data.books %}
    {% if book.deeplink == page.url %}
        {% capture bookArrayContent %}
            {{ book.author }}|{{ book.img }}|{{ book.url }}
        {% endcapture %}
    {% endif %}
{% endfor %}
{% assign bookArray = bookArrayContent | split: '|' %}

<div class="metadata">
    <div class="flex-container">
        <img class="book-cover" src="{{ bookArray[1] }}">
        <div class="book-metadata">
            <h1>{{ page.title }}</h1> 
            <div class="sans book-author">{{ bookArray[0] }}</div>
            <div class="book-link"><a target=_blank href="{{ bookArray[2] }}">About</a></div>
            <div class="book-tags">
                {% for tag in page.tag %}
                    <span class="tag sans">{{ tag }}</span>
                {% endfor %}
            </div>
            <div class="book-time">
                <time datetime="{{ page.last_modified_at | date_to_xmlschema }}">
                    <span>{% include icon-clock.html %} <span class="sans">Created</span> {{ page.date | date: "%-m/%-d/%y" }}</span>
                </time>
            </div>
        </div>
    </div>
</div>
