<div class="metadata">
    <div>
        {% if page.growth %}
        {% include growth-stage.html growth=page.growth %}
        {% endif %}
        {% if page.category == 'photo' %}
            {% for tag in page.tag %}
                {% include tag.html %}
            {% endfor %}
        {% endif %}
        <time datetime="{{ page.last_modified_at | date_to_xmlschema }}">
            <span>{% include icon-clock.html %} <span class="sans">Created</span>{{ page.date | date: "%-m-%-d-%y" }} </span>
            <span>{% include icon-pencil.html %} <span class="sans">Last updated</span>{{ page.last_modified_at | date: "%-m-%-d-%y" }}</span>
        </time>
    </div>
</div>
