<div class="notecards">
    {% for note in site.notes %}
        {% if note.category == include.category %}
            <a class="internal-link" href="{{ note.url }}">
                {% if include.category == 'wiki' %}
                <div class="card-wiki">
                    <div>{{ note.title }}</div>
                </div>
                {% endif %}
                {% if include.category == 'photography' %}
                <div class="card-img">
                    {% for image in site.static_files %}
                        {% if image.path contains note.url %}
                            <div>
                                <img id="{{ note.class }}" src="{{ site.baseurl }}{{ image.path }}" />
                            </div>
                            {% break %}
                        {% endif %}
                    {% endfor %}
                    <div>{{ note.title }}</div>
                </div>
                {% endif %}
                {% if note.tag != null %}
                    {% for tag in note.tags %}
                        <div class="tag sans">{{ tag }}</div>
                    {% endfor %}
                {% endif %}
            </a>
        {% endif %}
    {% endfor %}
</div>

