---
layout: default
---

<article>
  <h1>{{ page.title }}</h1> 
  {% include metadata-note.html layoutType="note" %}
  <div id="notes-entry-container">
    <content>
      {{ content }}
    </content>
    <div class="bottom-nav">
      {% include button.html buttonType="backToTop" %}{% include button.html buttonType="seeMoreCategory" bottomNav=true %}
    </div>
    <div class="shell">
      {% include backlinks.html %}
    </div>
  </div>
</article>
{% include link-previews.html wrapperQuerySelector="content" %}

<style>
  ul {
    max-width: 75%;
  }
</style>

